USE [master]
GO
/****** Object:  Database [Udemysitedb]    Script Date: 23.10.2021 18:01:20 ******/
CREATE DATABASE [Udemysitedb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Udemysitedb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Udemysitedb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Udemysitedb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Udemysitedb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Udemysitedb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Udemysitedb]
GO
/****** Object:  Table [dbo].[TBL_DERSLER]    Script Date: 23.10.2021 18:01:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DERSLER](
	[DERSID] [int] IDENTITY(1,1) NOT NULL,
	[DERSAD] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_DERSLER] PRIMARY KEY CLUSTERED 
(
	[DERSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_DUYURULAR]    Script Date: 23.10.2021 18:01:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DUYURULAR](
	[DUYURUID] [int] IDENTITY(1,1) NOT NULL,
	[DUYURUBASLIK] [varchar](50) NULL,
	[DUYURUICERIK] [varchar](250) NULL,
	[DUYURANOGRT] [int] NULL,
 CONSTRAINT [PK_TBL_DUYURULAR] PRIMARY KEY CLUSTERED 
(
	[DUYURUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MESAJLAR]    Script Date: 23.10.2021 18:01:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MESAJLAR](
	[MESAJID] [int] IDENTITY(1,1) NOT NULL,
	[GONDEREN] [varchar](5) NULL,
	[ALICI] [varchar](5) NULL,
	[BASLIK] [varchar](50) NULL,
	[ICERIK] [varchar](500) NULL,
	[TARIH] [smalldatetime] NULL,
 CONSTRAINT [PK_TBL_MESAJLAR] PRIMARY KEY CLUSTERED 
(
	[MESAJID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_NOTLAR]    Script Date: 23.10.2021 18:01:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_NOTLAR](
	[NOTID] [int] IDENTITY(1,1) NOT NULL,
	[OGRENCIID] [int] NOT NULL,
	[DERSNID] [int] NOT NULL,
	[SINAV1] [int] NULL,
	[SINAV2] [int] NULL,
	[SINAV3] [int] NULL,
	[ORTALAMA] [decimal](18, 2) NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_TBL_NOTLAR] PRIMARY KEY CLUSTERED 
(
	[OGRENCIID] ASC,
	[DERSNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_OGRENCİ]    Script Date: 23.10.2021 18:01:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_OGRENCİ](
	[OGRID] [int] IDENTITY(1,1) NOT NULL,
	[OGRNUMARA] [varchar](5) NULL,
	[OGRAD] [varchar](30) NULL,
	[OGRSOYAD] [varchar](30) NULL,
	[OGRFOTOGRAF] [varchar](100) NULL,
	[OGRTELEFON] [varchar](50) NULL,
	[OGRMAIL] [varchar](50) NULL,
	[OGRSİFRE] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_OGRENCİ] PRIMARY KEY CLUSTERED 
(
	[OGRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_OGRETMEN]    Script Date: 23.10.2021 18:01:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_OGRETMEN](
	[OGRTID] [int] IDENTITY(1,1) NOT NULL,
	[OGRTADSOYAD] [varchar](30) NULL,
	[OGRTFOTO] [varchar](100) NULL,
	[OGRTBRANS] [int] NULL,
	[OGRTNUMARA] [varchar](5) NULL,
	[OGRTSIFRE] [varchar](10) NULL,
 CONSTRAINT [PK_TBL_OGRETMEN] PRIMARY KEY CLUSTERED 
(
	[OGRTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_DERSLER] ON 

INSERT [dbo].[TBL_DERSLER] ([DERSID], [DERSAD]) VALUES (1, N'DİL ANLATIM')
INSERT [dbo].[TBL_DERSLER] ([DERSID], [DERSAD]) VALUES (2, N'MATEMATİK')
INSERT [dbo].[TBL_DERSLER] ([DERSID], [DERSAD]) VALUES (3, N'EDEBİYAT')
SET IDENTITY_INSERT [dbo].[TBL_DERSLER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_DUYURULAR] ON 

INSERT [dbo].[TBL_DUYURULAR] ([DUYURUID], [DUYURUBASLIK], [DUYURUICERIK], [DUYURANOGRT]) VALUES (1, N'Ders Notları', N'Merhaba arkadaşlar bugünki ders proje notları ', 1)
INSERT [dbo].[TBL_DUYURULAR] ([DUYURUID], [DUYURUBASLIK], [DUYURUICERIK], [DUYURANOGRT]) VALUES (2, N'Sour Çözümleri', N'Derste çözülen soruların cevapları ektedir', 2)
INSERT [dbo].[TBL_DUYURULAR] ([DUYURUID], [DUYURUBASLIK], [DUYURUICERIK], [DUYURANOGRT]) VALUES (3, N'Test denemesi', N'Bu bir denemedir', 1)
SET IDENTITY_INSERT [dbo].[TBL_DUYURULAR] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_MESAJLAR] ON 

INSERT [dbo].[TBL_MESAJLAR] ([MESAJID], [GONDEREN], [ALICI], [BASLIK], [ICERIK], [TARIH]) VALUES (1, N'1903', N'0001', N'deneme', N'TEST MESAJI', CAST(N'2019-11-20T00:00:00' AS SmallDateTime))
INSERT [dbo].[TBL_MESAJLAR] ([MESAJID], [GONDEREN], [ALICI], [BASLIK], [ICERIK], [TARIH]) VALUES (2, N'1234', N'0001', N'DENEME', N'DENEME', CAST(N'2019-11-20T00:00:00' AS SmallDateTime))
INSERT [dbo].[TBL_MESAJLAR] ([MESAJID], [GONDEREN], [ALICI], [BASLIK], [ICERIK], [TARIH]) VALUES (3, N'1903', N'0001', N'sınav', N'hocam merhaba', CAST(N'2019-11-20T00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[TBL_MESAJLAR] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_NOTLAR] ON 

INSERT [dbo].[TBL_NOTLAR] ([NOTID], [OGRENCIID], [DERSNID], [SINAV1], [SINAV2], [SINAV3], [ORTALAMA], [DURUM]) VALUES (1, 1, 2, 70, 20, 85, CAST(58.33 AS Decimal(18, 2)), 1)
INSERT [dbo].[TBL_NOTLAR] ([NOTID], [OGRENCIID], [DERSNID], [SINAV1], [SINAV2], [SINAV3], [ORTALAMA], [DURUM]) VALUES (12, 1, 3, 100, 90, 80, CAST(0.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[TBL_NOTLAR] ([NOTID], [OGRENCIID], [DERSNID], [SINAV1], [SINAV2], [SINAV3], [ORTALAMA], [DURUM]) VALUES (2, 2, 2, 80, 99, 100, CAST(93.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[TBL_NOTLAR] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_OGRENCİ] ON 

INSERT [dbo].[TBL_OGRENCİ] ([OGRID], [OGRNUMARA], [OGRAD], [OGRSOYAD], [OGRFOTOGRAF], [OGRTELEFON], [OGRMAIL], [OGRSİFRE]) VALUES (1, N'1903', N'ALİ', N'VELİ', N'deneme123', N'05333044025', N'thnc1903@gmail.com', N'12345')
INSERT [dbo].[TBL_OGRENCİ] ([OGRID], [OGRNUMARA], [OGRAD], [OGRSOYAD], [OGRFOTOGRAF], [OGRTELEFON], [OGRMAIL], [OGRSİFRE]) VALUES (2, N'1753', N'MEHMET', N'AY', N'Link girin', N'05304567801', N'tuana@gmail.com', N'123a')
INSERT [dbo].[TBL_OGRENCİ] ([OGRID], [OGRNUMARA], [OGRAD], [OGRSOYAD], [OGRFOTOGRAF], [OGRTELEFON], [OGRMAIL], [OGRSİFRE]) VALUES (3, N'1234', N'ATAKAN', N'ERTUGRUL', N'Link Girin', N'05304567302', N'deneme@hotmail.com', N'1907')
SET IDENTITY_INSERT [dbo].[TBL_OGRENCİ] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_OGRETMEN] ON 

INSERT [dbo].[TBL_OGRETMEN] ([OGRTID], [OGRTADSOYAD], [OGRTFOTO], [OGRTBRANS], [OGRTNUMARA], [OGRTSIFRE]) VALUES (1, N'Mehmet Çınar', N'ABC', 1, N'0001', N'12345')
INSERT [dbo].[TBL_OGRETMEN] ([OGRTID], [OGRTADSOYAD], [OGRTFOTO], [OGRTBRANS], [OGRTNUMARA], [OGRTSIFRE]) VALUES (2, N'Hande Ulu', N'ABC', 2, N'0002', N'123')
INSERT [dbo].[TBL_OGRETMEN] ([OGRTID], [OGRTADSOYAD], [OGRTFOTO], [OGRTBRANS], [OGRTNUMARA], [OGRTSIFRE]) VALUES (3, N'Ataberk Öz', N'ASD', 3, N'0003', N'abc123')
SET IDENTITY_INSERT [dbo].[TBL_OGRETMEN] OFF
GO
ALTER TABLE [dbo].[TBL_MESAJLAR] ADD  CONSTRAINT [DF_TBL_MESAJLAR_TARIH]  DEFAULT (getdate()) FOR [TARIH]
GO
ALTER TABLE [dbo].[TBL_NOTLAR] ADD  CONSTRAINT [DF_TBL_NOTLAR_SINAV1]  DEFAULT ((0)) FOR [SINAV1]
GO
ALTER TABLE [dbo].[TBL_NOTLAR] ADD  CONSTRAINT [DF_TBL_NOTLAR_SINAV2]  DEFAULT ((0)) FOR [SINAV2]
GO
ALTER TABLE [dbo].[TBL_NOTLAR] ADD  CONSTRAINT [DF_TBL_NOTLAR_SINAV3]  DEFAULT ((0)) FOR [SINAV3]
GO
ALTER TABLE [dbo].[TBL_NOTLAR] ADD  CONSTRAINT [DF_TBL_NOTLAR_ORTALAMA]  DEFAULT ((0)) FOR [ORTALAMA]
GO
ALTER TABLE [dbo].[TBL_DUYURULAR]  WITH CHECK ADD  CONSTRAINT [FK_TBL_DUYURULAR_TBL_OGRETMEN] FOREIGN KEY([DUYURANOGRT])
REFERENCES [dbo].[TBL_OGRETMEN] ([OGRTID])
GO
ALTER TABLE [dbo].[TBL_DUYURULAR] CHECK CONSTRAINT [FK_TBL_DUYURULAR_TBL_OGRETMEN]
GO
ALTER TABLE [dbo].[TBL_DUYURULAR]  WITH CHECK ADD  CONSTRAINT [FK_TBL_DUYURULAR_TBL_OGRETMEN1] FOREIGN KEY([DUYURANOGRT])
REFERENCES [dbo].[TBL_OGRETMEN] ([OGRTID])
GO
ALTER TABLE [dbo].[TBL_DUYURULAR] CHECK CONSTRAINT [FK_TBL_DUYURULAR_TBL_OGRETMEN1]
GO
ALTER TABLE [dbo].[TBL_NOTLAR]  WITH CHECK ADD  CONSTRAINT [FK_TBL_NOTLAR_TBL_DERSLER] FOREIGN KEY([DERSNID])
REFERENCES [dbo].[TBL_DERSLER] ([DERSID])
GO
ALTER TABLE [dbo].[TBL_NOTLAR] CHECK CONSTRAINT [FK_TBL_NOTLAR_TBL_DERSLER]
GO
ALTER TABLE [dbo].[TBL_NOTLAR]  WITH CHECK ADD  CONSTRAINT [FK_TBL_NOTLAR_TBL_OGRENCİ] FOREIGN KEY([OGRENCIID])
REFERENCES [dbo].[TBL_OGRENCİ] ([OGRID])
GO
ALTER TABLE [dbo].[TBL_NOTLAR] CHECK CONSTRAINT [FK_TBL_NOTLAR_TBL_OGRENCİ]
GO
ALTER TABLE [dbo].[TBL_OGRETMEN]  WITH CHECK ADD  CONSTRAINT [FK_TBL_OGRETMEN_TBL_DERSLER] FOREIGN KEY([OGRTBRANS])
REFERENCES [dbo].[TBL_DERSLER] ([DERSID])
GO
ALTER TABLE [dbo].[TBL_OGRETMEN] CHECK CONSTRAINT [FK_TBL_OGRETMEN_TBL_DERSLER]
GO
/****** Object:  StoredProcedure [dbo].[deneme123456]    Script Date: 23.10.2021 18:01:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[deneme123456]
(
	@ALICI varchar(5)
)
AS
	SET NOCOUNT ON;

SELECT  (OGRAD+' '+OGRSOYAD) AS 'ALICI', OGRTADSOYAD AS 'GONDEREN',BASLIK,ICERIK,TARIH From TBL_MESAJLAR
INNER JOIN TBL_OGRENCİ
ON TBL_OGRENCİ.OGRNUMARA=TBL_MESAJLAR.ALICI
INNER JOIN TBL_OGRETMEN
ON TBL_OGRETMEN.OGRTNUMARA=TBL_MESAJLAR.GONDEREN
WHERE ALICI=0001
GO
/****** Object:  StoredProcedure [dbo].[OgrGelenKutusu]    Script Date: 23.10.2021 18:01:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OgrGelenKutusu]
as

SELECT MESAJID,OGRTADSOYAD AS 'GONDERENN',(OGRAD+' '+OGRSOYAD) AS 'ALICII',BASLIK,ICERIK,TARIH From TBL_MESAJLAR
INNER JOIN TBL_OGRENCİ
ON TBL_OGRENCİ.OGRNUMARA=TBL_MESAJLAR.ALICI
INNER JOIN TBL_OGRETMEN
ON TBL_OGRETMEN.OGRTNUMARA=TBL_MESAJLAR.GONDEREN

where OGRNUMARA=OGRNUMARA
GO
/****** Object:  StoredProcedure [dbo].[OgrGonderenMesaj]    Script Date: 23.10.2021 18:01:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[OgrGonderenMesaj]
as

SELECT MESAJID,(OGRAD+' '+OGRSOYAD) AS 'GONDERENN',OGRTADSOYAD AS 'ALICII',BASLIK,ICERIK,TARIH From TBL_MESAJLAR
INNER JOIN TBL_OGRENCİ
ON TBL_OGRENCİ.OGRNUMARA=TBL_MESAJLAR.GONDEREN
INNER JOIN TBL_OGRETMEN
ON TBL_OGRETMEN.OGRTNUMARA=TBL_MESAJLAR.ALICI
GO
/****** Object:  StoredProcedure [dbo].[OgrMesaj]    Script Date: 23.10.2021 18:01:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[OgrMesaj]
As

SELECT MESAJID,(OGRAD+' '+OGRSOYAD) AS 'GONDEREN',(OGRTADSOYAD),BASLIK,ICERIK,TARIH From TBL_MESAJLAR
INNER JOIN TBL_OGRENCİ
ON TBL_OGRENCİ.OGRNUMARA=TBL_MESAJLAR.GONDEREN
INNER JOIN TBL_OGRETMEN
ON TBL_OGRETMEN.OGRTNUMARA=TBL_MESAJLAR.ALICI
GO
/****** Object:  StoredProcedure [dbo].[OgrNotlar]    Script Date: 23.10.2021 18:01:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[OgrNotlar]
As

SELECT NOTID,OGRENCIID,(OGRAD+' '+OGRSOYAD) AS 'OGRENCIADSOYAD',DERSAD,SINAV1,SINAV2,SINAV3,ORTALAMA,DURUM From TBL_NOTLAR
INNER JOIN TBL_OGRENCİ
ON TBL_OGRENCİ.OGRID=TBL_NOTLAR.OGRENCIID
INNER JOIN TBL_DERSLER
ON TBL_DERSLER.DERSID=TBL_NOTLAR.DERSNID
GO
/****** Object:  StoredProcedure [dbo].[OgrtGonderenMesaj]    Script Date: 23.10.2021 18:01:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE procedure [dbo].[OgrtGonderenMesaj]

as


SELECT MESAJID,OGRTADSOYAD AS 'GONDERENN',(OGRAD+' '+OGRSOYAD) AS 'ALICII',BASLIK,ICERIK,TARIH From TBL_MESAJLAR
INNER JOIN TBL_OGRENCİ
ON TBL_OGRENCİ.OGRNUMARA=TBL_MESAJLAR.ALICI
INNER JOIN TBL_OGRETMEN
ON TBL_OGRETMEN.OGRTNUMARA=TBL_MESAJLAR.GONDEREN
GO
USE [master]
GO
